<a href="https://colab.research.google.com/github/06Reetu/python333/blob/main/lab2q4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4. write a program to implement type conversion on differernt data type.

In [2]:
var=int(35)
var2=float(35)
var3=float(55)
print(var)
print(var2)
print(var3)

35
35.0
55.0